extends baseEmail

block content
    p Hi #{firstName},
    p A new event has been created: #{event.name} 🎉
    p Here are the details:
    ul
        li Name: #{event.name}
        li Team Size: #{event.Teamsize}
        li Description: #{event.description}
        li Registration Date: #{event.registrationdate}
        li Event Date: #{event.eventdate}
        li Location: #{event.location}
        li Timing: #{event.timing}
        li Price: #{event.price}
        li Coordinators: 
            each coordinator in event.coordinators
                p #{coordinator.name} (#{coordinator.email})
    if event.images.length > 0
        p Event Images:
        each image in event.images
            img(src=image, alt='Event Image')
    if event.imageCover
        p Image Cover:
        img(src=event.imageCover, alt='Event Cover Image')
    p If you'd like to view more details or RSVP, please visit:
     a(href=`${url}`,target='_blank') To View More about Event Details
    p If you have any questions or need further information, feel free to contact us!
    p - PRUTHVIJ DESAI, CEO
